{% extends 'base.html' %}
{% block title %}RuTest project{% endblock %}
{% block subbar %}{% endblock %}
{% block content_title%}Добавление файла к багу{{ bug.short_description }}{% endblock %}
{% block content%}
<script language='JavaScript' type='text/javascript'>
</script>
<form action="{% url bug_add_file bug_id=bug.pk %}" method="post" enctype="multipart/form-data">
     <fieldset>
         <legend>Добавить файл</legend>
         <table>
             {{ form }}
         </table>
     </fieldset>
     <fieldset>
          <legend>Добавить</legend>
         <input type="submit" value="Добавить" />
     </fieldset>
        
</form>
{% endblock %}

